<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".model.levels.endActivity"></activity>
        <activity android:name=".model.levels.q4activity" />
        <activity android:name=".model.levels.q3activity" />
        <activity android:name=".model.levels.q2activity" />
        <activity android:name=".model.levels.q1activity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_confing" />

        <activity android:name=".QuizActivity" />
        <activity android:name=".StartingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>